@media only screen and (min-width: 1024px) {
    .container {
        flex-direction: row;
    }

    .container .left-side {
        width: 30%;
        margin: 0 0 0 20px;
    }

    .left-side .general-use {display: block;}

    section input[type="search"] {
        width: 60%;}

    .container .right-side {
        width: 60%;
        height: fit-content;
        margin: 0 0 0 30px;
    }

    .container .right-side .results {
        height: 155vh;
        overflow-y: scroll;
    }

    .datasort {
        margin-top: 0;
    }
}
